body {
background-color:#ffffff;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size:9pt;
        color:#000000;
        
        }

.balken
{
left:0px;
}
.popup
{
 position:fixed;
 left:30%;
// margin-left:150px;

 width:300px;
 top:50px;
z-index:0;

 background: white; padding: 12px;
    -webkit-box-shadow: 3px 2px 5px black;
    -moz-box-shadow: 3px 2px 5px black;
    box-shadow: 3px 2px 5px black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=0, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=260, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=305, Strength=2)
    
    
}

form
{
background: white; padding: 12px;
    -webkit-box-shadow: 3px 2px 5px black;
    -moz-box-shadow: 3px 2px 5px black;
    box-shadow: 3px 2px 5px black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=0, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=260, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=305, Strength=2 )

    

    width:600px;
position:static;
left:50%;
margin:0px;
width:600px;
margin-top:20px;
 margin-bottom:20px;


}



#links
{
background: rgb(0,0,0); 
text-align:center;
padding: 0px;
padding-left:12px;
padding-right:12px;
    -webkit-box-shadow: 3px 2px 5px black;
    -moz-box-shadow: 3px 2px 5px black;
    box-shadow: 3px 2px 5px black;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    
//background:-moz-linear-gradient(top, rgb(0,0,0), rgb(153,0,51)); /* Firefox */
background:-moz-linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* Firefox */
background:-webkit-gradient(linear, left top, left bottom, from(rgb(0,0,0)), to(rgb(100,100,100))); /* Safari, Chrome */
background:-webkit-linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* Safari, Chrome - neue Syntax! */
background:-o-linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* Opera */
background:-ms-linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* IE */
background:linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* W3C Standard */



  
zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=0, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=260, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=305, Strength=2 )
    progid:DXImageTransform.Microsoft.Gradient(startColorstr='#000000', endColorstr='#707070')
    width:100%;
position:static;
left:0px;
right:0px;
margin:0px;
 height:50px;
width:100%;
padding-top:15px;
}

#links li
{
 font-weight:normal;
font-size:10px;
color:white;
padding:5px;
border:0px;
border-right:2px;


border-style:solid;
//border-color: rgb(153,0,51);
border-color: rgb(100,100,100);
}


#links a
{
 font-weight:normal;
font-size:10px;
color:white;
font-weight:bold;
text-decoration: none;
}

#links a:hover
{
 font-weight:normal;
font-size:10px;
//color:rgb(202,202,202);
color:#CD0000 ;
font-weight:bold;
text-decoration: none;
}


#linksbottom
{
background: black; 
text-align:center;

padding: 0px;
padding-left:12px;
padding-right:12px;
    -webkit-box-shadow: 3px 2px 5px black;
    -moz-box-shadow: 3px 2px 5px black;
    box-shadow: 3px 2px 5px black;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    
//background:-moz-linear-gradient(top, rgb(224,0,0), rgb(153,0,51)); /* Firefox */
background:-moz-linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* Firefox */
background:-webkit-gradient(linear, left top, left bottom, from(rgb(0,0,0)), to(rgb(100,100,100))); /* Safari, Chrome */
background:-webkit-linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* Safari, Chrome - neue Syntax! */
background:-o-linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* Opera */
background:-ms-linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* IE */
background:linear-gradient(top, rgb(0,0,0), rgb(100,100,100)); /* W3C Standard */

  
zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=0, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=260, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=305, Strength=2)
         progid:DXImageTransform.Microsoft.Gradient(startColorstr='#000000', endColorstr='#707070')
    width:100%;
position:static;
overflow-y: auto;
z-index:1;
bottom:0px;
left:0px;
margin:0px;
        right:0px;
width:100%;
margin-top:0px;
}

#linksbottom li
{
font-weight:normal;
font-size:10px;
color:white;
padding:5px;
border:0px;
border-right:0px;
vertical-align:middle;

border-style:solid;
//border-color: rgb(153,0,51);
border-color: rgb(100,100,100);
}

#linksbottom a
{
 font-weight:normal;
font-size:10px;
color:white;
//font-weight:bold;
text-decoration: none;
}

#linksbottom a:hover
{
 font-weight:normal;
font-size:10px;
//color:rgb(202,202,202);
color:#CD0000;
//font-weight:bold;
text-decoration: none;
}




#res
{  

 position: static;
    width:500px;
margin:10px;

margin-top:5px;


}


body {
        background-color:#ffffff;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size:9pt;
        color:#000000; }

h1 { font-size:130%;}
h2 { font-size:120%;}
h3 { font-size:110%;}

a { font-size:8pt; color:#000000; text-decoration:underline;}
a:link { color:#000000; }
a:visited { color:#808080; }
a:active { color:#CD0000; }
a:hover { color:#CD0000; text-decoration:none; }


 { font-size:100%; }

td {
        border: 0px solid #C0C0C0;
        padding: 2px;
        -moz-border-radius: 2px;
        -khtml-border-radius: 2px;
        border-radius: 2px; }

#middle {
        width:600px;
        height:85%;
        text-align:left;
        margin:auto auto;
        margin-left:5%;
        padding:10px;
        -moz-border-radius: 15px;
        -khtml-border-radius: 15px;
        border-radius: 15px;
        #border: 2px solid #808080;
        overflow:auto; }

#headingContent { font-size:110%; font-weight:bold }
#content { min-height:25%;font-size:130%; text-align:left; }

#voting { margin-top:10px; }
#votingPro, #votingNeutral, #votingContra, #votingSkip { cursor:pointer; }

#keepStats { margin-top:10px;
            font-size:8pt;
            color:#000000; }

#extras { margin-left:5%; }

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    text-align:left;
    cursor: default;
}


.Button {
background-color:aaaaaa;
font-weight:normal;
font-size:18px;
color:white;
width:100px;
height:30px;

 -webkit-box-shadow: 3px 2px 5px black;
    -moz-box-shadow: 3px 2px 5px black;
    box-shadow: 3px 2px 5px black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
    
zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=0, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=45, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=90, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=180, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=225, Strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=260, Strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=305, Strength=2)
    }
    
    .Button:hover {
background-color:rgb(208,208,208);
}
    
    
    
li
    {
    list-style: none;
display:inline;    
    }
    
img
{
border:0px;
}

#logos     a
{
text-decoration:none;   
}


#logos img
{

 border-style:solid;
 border-color:#eeeeee;
 border-width:1px;

}



table {
	width: 600px;
	border:0px solid #000000;
	border-spacing: 0px; }

table a, table, tbody, tfoot, tr, th, td {
	font-family: Arial, Helvetica, sans-serif;
}

table caption {
	font-size: 1.1em;
	text-align: left;
	#font-weight: bold;
	text-indent: 250px;
	background: url(images/bg_caption.gif) left top;
	height: 30px;
	color: #FFFFFF;
	border:1px solid #000000; }

thead th {
	background: url(images/bg_th.gif) left;
	height: 21px;
	color: #ffffff;
	font-size: 0.8em;
	font-family: Arial;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left; }

tbody tr {	background: #ffffff; }

tbody tr.odd {	background: #f0f0f0; }

tbody th {
	background: url(images/arrow_white.gif) left center no-repeat;
	background-position: 5px;
	padding-left: 40px !important; }

tbody tr.odd th {
	background: url(images/arrow_grey.gif) left center no-repeat;
	background-position: 5px;
	padding-left: 40px !important; }

tbody th, tbody td {
	font-size: 0.8em;
	line-height: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 3px 2px;
	border-bottom: 1px solid #800000;
	border-left:  1px solid #ffffff;
	border-right: 1px solid #ffffff;
	text-align: left; }

tbody a {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	#font-weight: bold;
	text-decoration: none; }

tbody a:hover {
	color: #ffffff;
	text-decoration: underline; }

tbody tr:hover th {
	background: #800000 url(images/arrow_red.gif) left center no-repeat;
	background-position: 5px;
	color: #ffffff; }

tbody tr.odd:hover th {
	background: #000000 url(images/arrow_black.gif) left center no-repeat;
	background-position: 5px;
	color: #ffffff; }

tbody tr:hover th a, tr.odd:hover th a	{
		 color: #ffffff; }

tbody tr:hover td, tr:hover td a, tr.odd:hover td, tr.odd:hover td a {
	background: #c0c0c0;
	color: #000000;	 }

tbody tr.odd:hover td, tr.odd:hover td a{
	background: #c0c0c0;
	color: #000000;	 }

tfoot th, tfoot td {
	background: #ffffff url(images/bg_footer.gif) repeat-x bottom;
	font-size: 0.8em;
	color: #ffffff;
	height: 21px;
	}


  #balken2
  {
  width:200px;
  height:15px;
   position:static;
  
background-image: linear-gradient(right , #cd0000 0%, #33cc00 100%);
background-image: -o-linear-gradient(right , #cd0000 0%, #33cc00) 100%);
background-image: -moz-linear-gradient(right , #cd0000 0%, #33cc00 100%);
background-image: -webkit-linear-gradient(right , #cd0000 0%, #33cc00 100%);
background-image: -ms-linear-gradient(right , #cd0000 0%, #33cc00 100%);

background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0, rgb(0,255,30)),
	color-stop(1, rgb(0,255,30))
  }